@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  color: black;
  margin: 0;
  font-size: 12px;
  background: black;
  overscroll-behavior: none;
  font-family: "Inter", sans-serif;
  display: block;
}


.wrapper-config {
  color: black;
  padding: 130px 0 10% 0;
  font-size: 12px;
  background-color: whitesmoke;
  overscroll-behavior: none;
  font-family: "Inter", sans-serif;
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
}

.wrapper {
  overflow: hidden;
  max-width: 390px;
  background: #fff;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
}

.wrapper .title-text {
  display: flex;
  width: 200%;
  font-size: 35px;
  font-weight: 600;
  text-align: center;
}

.wrapper .title-text .title {
  width: 50%;
  font-size: 35px;
  font-weight: 600;
  text-align: center;
}

.wrapper .form-container {
  width: 100%;
  overflow: hidden;
}

.form-container .slide-controls {
  position: relative;
  display: flex;
  height: 50px;
  width: 98.5%;
  margin: 30px 0 10px 0;
  border-radius: 5px;
  overflow: hidden;
  justify-content: space-between;
  border: 1px solid lightgrey;
}

.slide-controls .slide {
  height: 100%;
  width: 100%;
  z-index: 1;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  line-height: 48px;
  cursor: pointer;
  transition: all 0.6s ease;
}

.slide-controls .signup {
  color: #000;
}

.slide-controls .slide-tab {
  position: absolute;
  height: 100%;
  width: 50%;
  left: 0;
  z-index: 0;
  border-radius: 5px;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  background: -webkit-linear-gradient(left, #a445b2, #fa4299);
}

input[type="radio"]{
  display: none;
}

#signup:checked ~ .slide-tab {
  left: 50%;
}

#signup:checked ~ .signup {
  color: #fff;
}

#signup:checked ~ .login {
  color: #000;
}

.form-container .form-inner {
  display: flex;
  width: 200%;
}

.form-container .form-inner form {
  width: 50%;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-container .form-inner form .field {
  height: 50px;
  margin-top: 20px;
}

form .field input{
  height: 100%;
  width: 93%;
  outline: none;
  padding-left: 20px;
  font-size: 17px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  border-bottom-width: 2px;
  transition: all 0.4s ease;
}

.form-inner form .field input:focus{
  border-color: #fc83bb;
}

.form-inner form .pass-link {
  margin-top: 5px;
}

.form-inner form .pass-link a,
.form-inner form .signup-link a {
  color: #fa4299;
  text-decoration: none;
}

.form-inner form .signup-link {
  text-align: center;
  margin-top: 30px;
}

.form-inner form .pass-link a:hover,
.form-inner form .signup-link a:hover {
  text-decoration: underline;
}

form .field input[type="submit"]{
  color: #fff;
  width: 100%;
  font-size: 20px;
  font-weight: 500;
  padding-left: 0px;
  border: none;
  cursor: pointer;
  background: -webkit-linear-gradient(left, #a445b2,#fa4299);
}


.button,
html {
    -webkit-backface-visibility: hidden;
}

#logo{
    font-family: "Inter", sans-serif;
    font-weight: 800;
    font-size: 5rem;
    position: absolute;
    top: 30%;
}

.restaurant_cards>.dining_card {
  --padding: 1rem;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(133, 133, 133);
  border-radius: 0.5rem;
  font-size: 20px;
  max-width: 850px;
  margin: 0 auto;
  overflow: hidden;
  margin-bottom: 5%;
  box-shadow: 0 2px 5px 0;
  border: none;
}


.dialog,
body,
html {
    -webkit-tap-highlight-color: transparent
}

body,
html,
img {
    max-width: 100%
}

.button.actionButton svg,
.button.play svg,
.button:not(.stroke) svg,
.slide.whiteSlide .button.actionButton svg,
.slides {
    fill: #fff
}

.button svg,
.button svg * {
    pointer-events: none !important
}

.material-icons,
.slides {
    -webkit-font-smoothing: antialiased
}

.button,
.container .wrap,
.slides-form.center input,
.slides-form.center textarea {
    text-align: center
}

.button,
.material-icons,
.navigation li[data-title]:before,
.nobr,
.nowrap,
.panel .sections .menu,
.panel .sections>div {
    white-space: nowrap
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    border: 0;
    vertical-align: baseline;
    margin: 0;
    padding: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

.button,
.button.actionButton,
.dot,
.dot:after,
.material-icons,
img {
    display: inline-block
}

li,
ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

b,
strong {
    font-weight: 600
}

html {
    position: static !important;
    top: 0 !important;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
    backface-visibility: hidden
}

*,
:after,
:before {
    box-sizing: inherit
}

body {
    position: absolute;
    width: 100%;
    height: 100%
}

body,
html {
    overflow-x: hidden
}

html.scrollable,
html.scrollable body {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch
}

.button,
.content,
.slide {
    overflow: hidden
}

img.round {
    border-radius: 999px
}

img.rounded {
    border-radius: 6px
}

.slides {
    color: #fff;
    font-family: Roboto, sans-serif;
    -webkit-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    background: #111
}

.slides.bodyWhite {
    background: #fff
}

.slides.desktopSwipe {
    cursor: -webkit-grab
}

.slides.desktopSwipe:active {
    cursor: -webkit-grabbing
}

.slides.desktopSwipe .slide .container .wrap {
    cursor: inherit
}

.button,
.dropdownTrigger,
.helpBubble,
.popupTrigger,
.sidebarTrigger,
.videoThumbnail,
a {
    cursor: pointer
}

a {
    color: inherit;
    text-decoration: none;
    transition: .35s;
    font-family: 'Inter';
}

a.underline {
    text-decoration: underline
}

.button,
.dialog li {
    text-decoration: none
}

a:hover {
    transition: .15s;
    opacity: .8
}

.h1,
h1 {
    font-size: 42px;
    line-height: 1.285;
    font-weight: 300;
    margin-bottom: 20px;
    letter-spacing: -.036em
}

.h1.big,
h1.big {
    font-size: 58px;
    line-height: 1;
    font-weight: 100
}

.h1.huge,
h1.huge {
    font-size: 64px;
    line-height: 1.218751;
    letter-spacing: -.04em;
    margin-bottom: 40px;
    font-weight: 100
}

.h2,
.h3,
h2,
h3 {
    font-weight: 400
}

.h1.small,
h1.small {
    font-size: 46px
}

.h1.micro,
h1.micro {
    font-size: 34px
}

.h2,
h2 {
    font-size: 35px;
    line-height: 1.17;
    margin-bottom: 15px
}

.h2.small,
h2.small {
    font-size: 28px
}

.h2.micro,
h2.micro {
    font-size: 19px
}

.h2.huge,
h2.huge {
    font-size: 42px
}

.h3,
h3 {
    font-size: 20px;
    margin-bottom: 12px
}

.h3.large,
h3.large {
    font-size: 32px
}

.h3.big,
h3.big {
    font-size: 24px
}

.h3.small,
h3.small {
    font-size: 20px
}

.h3.micro,
h3.micro {
    font-size: 16px
}

.h3+.h1,
.h3+h1,
h3+.h1,
h3+h1 {
    margin-top: 30px
}

.h4,
h4 {
    font-size: 18px;
    margin-bottom: 10px
}

.h5,
h5 {
    font-size: 16px
}

.h6,
h6 {
    font-size: 14px
}

.p,
blockquote,
p {
    font-size: 22px;
    line-height: 1.6363636364;
    margin-bottom: 30px;
    font-weight: 300
}

.p.hero,
blockquote.hero,
p.hero {
    font-size: 28px;
    line-height: 1.5;
    margin-bottom: 25px
}

.p.large,
blockquote.large,
p.large {
    font-size: 32px;
    line-height: 1.4
}

.p.small,
blockquote.small,
p.small {
    font-size: 18px;
    line-height: 1.36;
    margin-bottom: 20px
}

.p.tiny,
blockquote.tiny,
p.tiny {
    font-size: 16px;
    line-height: 1.625;
    margin-bottom: 12px;
    font-weight: 400
}

.p.micro,
blockquote.micro,
p.micro {
    font-size: 14px;
    line-height: 1.5714;
    margin-bottom: 20px;
    margin-top: 2px
}

blockquote {
    padding-left: 2em;
    border-left: 2px solid
}

small {
    font-size: 17px;
    line-height: 1.3
}

small .small {
    font-size: 14px;
    line-height: 1.28
}

.list.circle li {
    list-style-type: circle
}

.list.disc li {
    list-style-type: disc
}

.list.square li {
    list-style-type: square
}

@media (max-width:1023px) {

    .h1,
    .h1.big,
    .h1.huge,
    h1,
    h1.big,
    h1.huge {
        font-size: 40px;
        margin-bottom: 20px
    }

    p.hero {
        font-size: 22px
    }

    .h1.small,
    h1.small {
        font-size: 32px
    }

    .mobileCrop {
        margin: 0 !important
    }

    .mobileCropBottom {
        margin-bottom: 0 !important
    }

    .mobileCropTop {
        margin-top: 0 !important
    }

    .mobileCropLeft {
        margin-left: 0 !important
    }

    .mobileCropRight {
        margin-right: 0 !important
    }
}

@media (max-width:319px) {

    .h1.big,
    .h1.huge,
    h1.big,
    h1.huge {
        font-size: 32px
    }
}

.button {
    border-radius: 4px;
    padding: 16px 24px 17px;
    color: #fff;
    border: none;
    outline: 0;
    background: #202020;
    font-size: 16px;
    font-weight: 500;
    vertical-align: top;
    backface-visibility: hidden;
    letter-spacing: normal !important;
    position: relative;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    box-shadow: 0 1px 4px rgba(0, 0, 0, .1), 0 2px 4px rgba(0, 0, 0, .1);
    -webkit-appearance: none;
    margin-bottom: 10px;
    transition: .3s;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important
}

.content,
.slide.active {
    -webkit-backface-visibility: hidden
}

.popup .button,
.slide .button {
    margin-left: 5px;
    margin-right: 5px
}

.popup .button.small,
.slide .button.small {
    margin-left: 4px;
    margin-right: 4px
}

.button.wide {
    margin-left: 0 !important;
    margin-right: 0 !important
}

.button .material-icons {
    vertical-align: bottom;
    margin-top: -5px;
    margin-bottom: -2px;
    margin-right: 8px;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important
}

.button .material-icons.small {
    font-size: 18px;
    margin: 0 6px 0 0
}

.button .material-icons.right {
    margin-left: 11px;
    margin-right: 0
}

.button svg {
    width: 22px;
    height: 22px;
    margin-top: -3px;
    top: 2px;
    vertical-align: bottom;
    margin-right: 14px;
    position: relative
}

.button svg.right {
    margin-right: 0;
    margin-left: 14px
}

.button.actionButton {
    height: 42px;
    width: 42px;
    padding: 12px;
    border-radius: 25px;
    z-index: 999;
    background: rgba(0, 0, 0, .3);
    line-height: 1;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, .05);
    cursor: pointer;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    vertical-align: top
}

.button.actionButton svg {
    width: 18px;
    height: 18px
}

.button.actionButton .material-icons {
    margin: 0;
    position: relative;
    left: -3px;
    top: -3px;
    font-size: 24px
}

.button.actionButton.big {
    width: 50px;
    height: 50px;
    padding: 16px
}

.button.actionButton.big .material-icons {
    font-size: 24px
}

.button.actionButton.big svg {
    width: 22px;
    height: 22px;
    left: -2px;
    top: 0
}

.button.actionButton.stroke {
    box-shadow: none;
    padding: 10px
}

.button.actionButton:hover:not(:active) {
    -webkit-transform: translateY(0) !important;
    transform: translateY(0) !important
}

.button.actionButton.rounded {
    border-radius: 6px
}

.button.actionButton.sound [class*=sound-] {
    position: absolute;
    opacity: 0;
    transition: .5s;
    left: 13px;
    top: 16px
}

.button.actionButton.sound.stroke [class*=sound-] {
    left: 11px;
    top: 14px
}

.button.actionButton.sound.playing .sound-on,
.button.actionButton.sound:not(.playing) .sound-off {
    opacity: 1
}

.button.actionButton.transparent {
    background-color: transparent
}

.button:hover {
    box-shadow: 0 6px 7px 0 rgba(0, 0, 0, .15), 0 0 5px 0 rgba(0, 0, 0, .1);
    opacity: 1;
    -webkit-transform: translateY(-2px) !important;
    transform: translateY(-2px) !important;
    transition: .35s !important
}

.button:hover:after {
    opacity: .5
}

.button:active {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .1), 0 0 10px 0 rgba(0, 0, 0, .1), 0 1px 4px -1px rgba(0, 0, 0, .1);
    -webkit-transform: translateY(0) !important;
    transform: translateY(0) !important;
    transition: .35s !important
}

.button.shade:after,
.dot:after {
    transition: .25s;
    content: ""
}

.button:active:after {
    opacity: 1
}

.button.uppercase {
    font-size: 15px;
    padding-top: 17px;
    padding-bottom: 17px
}

.button.lowercase {
    text-transform: lowercase;
    letter-spacing: 0;
    font-weight: 300
}

.button.round {
    border-radius: 99px;
    padding-left: 28px;
    padding-right: 28px
}

.button.rounded {
    border-radius: 6px
}

.button.rectangular {
    border-radius: 1px
}

.button.square {
    border-radius: 0
}

.button.stroke {
    color: #202020;
    border: 2px solid;
    background-color: transparent !important;
    padding: 14px 22px 15px
}

.slide.whiteSlide .button.stroke {
    color: #202020
}

.button.stroke.round {
    padding-left: 26px;
    padding-right: 26px
}

.button.stroke.uppercase {
    padding-top: 15px;
    padding-bottom: 15px
}

.button.stroke.uppercase svg {
    margin-bottom: -2px
}

.button.stroke.uppercase.small {
    padding: 11px 15px
}

.button.stroke.small {
    border: 1px solid;
    padding-top: 9px;
    padding-bottom: 9px
}

@media (min-width:768px) {
    .button.stroke.big {
        padding: 19px 30px
    }

    .button.stroke.big.uppercase {
        padding-top: 21px;
        padding-bottom: 21px
    }
}

.button.stroke:not(.flat):hover {
    box-shadow: inset 0 -100px 0 rgba(41, 41, 41, .05), 0 4px 6px 0 rgba(0, 0, 0, .1), 0 1px 10px 0 rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .1)
}

.button.empty,
.button.flat:not(:hover) {
    box-shadow: none
}

.button.small {
    font-size: 15px;
    font-weight: 500;
    padding: 10px 16px
}

.button.small .material-icons {
    vertical-align: bottom;
    position: relative;
    font-size: 20px;
    margin-right: 8px;
    bottom: 1px
}

.button.small .material-icons.right {
    margin-left: 8px;
    margin-right: 0
}

.button.small svg {
    width: 18px;
    height: 18px;
    margin-right: 10px;
    top: 0
}

.button.small svg.right {
    margin-right: 0;
    margin-left: 10px
}

.button.small.round {
    padding-left: 18px;
    padding-right: 18px
}

.button.small.rounded {
    border-radius: 6px
}

.button.small.uppercase {
    font-size: 12px;
    padding: 12px 16px;
    letter-spacing: .125em
}

.button.small.uppercase.round {
    padding-left: 19px;
    padding-right: 19px
}

@media (min-width:768px) {
    .button.big {
        font-size: 20px;
        padding: 21px 32px
    }

    .button.big.round {
        padding-left: 36px;
        padding-right: 36px
    }

    .button.big.rounded {
        border-radius: 7px
    }

    .button.big.uppercase {
        font-size: 17px;
        padding: 23px 32px
    }

    .button.big.uppercase.round {
        padding-left: 36px;
        padding-right: 36px
    }

    .button.big .material-icons {
        vertical-align: bottom;
        margin-right: 16px;
        font-size: 30px
    }

    .button.big .material-icons.right {
        margin-left: 16px;
        margin-right: 0
    }

    .button.big svg {
        width: 27px;
        height: 27px;
        margin-right: 16px;
        top: 1px
    }

    .button.big svg.right {
        margin-right: 0;
        margin-left: 16px
    }
}

.button.empty,
.button.hollow {
    padding: 0 !important;
    background-color: transparent !important;
    font-size: 0 !important
}

.button.play,
.panel .sections>div.right ul.crop li:last-child {
    margin-right: 0
}

.button.empty {
    margin: 0
}

.button.hollow {
    box-shadow: none !important
}

.button.hollow svg {
    margin: 0
}

.button.shade {
    position: relative
}

.button.shade:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #292929;
    opacity: 0
}

.button.shade:hover:after {
    opacity: .15
}

.button.shade:active:after {
    opacity: .2
}

.button.play {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    padding: 27px;
    margin-left: 0
}

.button.play svg {
    width: 35px;
    height: 36px;
    margin: 0
}

.button.play.small {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding: 20px 19px
}

.button.play.small svg {
    fill: #fff;
    width: 23px;
    height: 23px
}

.button.play:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05)
}

.button.gradient {
    position: relative
}

.button.gradient:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #fff 0, #000 100%);
    z-index: -1;
    opacity: .1
}

.slide.whiteSlide .button.white:hover {
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, .1), 0 1px 10px 0 rgba(0, 0, 0, .1)
}

.slide.whiteSlide .button.white:hover:after {
    opacity: .3
}

.roundButton {
    border-radius: 50px;
    height: 50px;
    width: 50px;
    padding: 14px;
    margin: 5px
}

.roundButton svg {
    bottom: 2px
}

@media (max-width:319px) {

    .button.uppercase,
    .uppercase {
        letter-spacing: .07em
    }
}

.button.uppercase,
.h1.uppercase,
.h2.uppercase,
.h3.uppercase,
.h4.uppercase,
.p.uppercase,
h1.uppercase,
h2.uppercase,
h3.uppercase,
h4.uppercase,
h5.uppercase,
p.uppercase {
    letter-spacing: .125em !important;
    text-indent: -.1em !important;
    font-weight: 700 !important
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    direction: ltr;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-feature-settings: 'liga';
    font-feature-settings: 'liga'
}

.slides-form,
.slides-form button {
    font-family: inherit
}

.material-icons.md-18 {
    font-size: 18px
}

.material-icons.md-24 {
    font-size: 24px
}

.material-icons.md-36 {
    font-size: 36px
}

.material-icons.md-48 {
    font-size: 48px
}

.slide.whiteSlide svg {
    fill: #202020
}

.embedContainer,
.svgContainer {
    position: relative;
    width: 100%;
    height: 0;
    padding: 0
}

.embedContainer .scale,
.svgContainer svg.scale {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0
}

.dots {
    font-size: 0
}

.dot {
    padding: 7px
}

.dot:after {
    width: 6px;
    height: 6px;
    background: #fff;
    border-radius: 50%;
    opacity: .5
}

.dot.big .dot:after {
    width: 14px;
    height: 14px
}

.slide.whiteSlide .dot:after {
    background: #202020
}

.dot:hover:after {
    -webkit-transform: scale(1.33333);
    transform: scale(1.33333);
    opacity: 1
}

.dot.selected:after,
.dot:active:after {
    opacity: 1;
    -webkit-transform: scale(1.675);
    transform: scale(1.675)
}

.tabs {
    color: #fff;
    max-width: 260px;
    border-radius: 5px
}

.tabs li {
    padding: 16px 20px;
    letter-spacing: 2.5px;
    font-size: 12px;
    transition: .15s;
    margin-top: -1px;
    border: 1px solid rgba(255, 255, 255, .3)
}

.tabs li:not(:last-child) {
    border-bottom: 0
}

.tabs li:first-child {
    border-radius: 4px 4px 0 0
}

.tabs li:last-child {
    border-radius: 0 0 4px 4px
}

.tabs li.selected {
    background: #fff;
    color: #202020
}

.slide.whiteSlide .tabs li {
    border-color: #e5e5e5;
    color: #202020
}

.slide.whiteSlide .tabs li.selected {
    background: #202020;
    border-color: #202020;
    color: #fff
}

.links li {
    font-size: 17px;
    letter-spacing: 0;
    padding: 4px 0
}

.slides-form {
    font-size: 0;
    margin-top: -5px
}

.slides-form textarea {
    max-height: 200px;
    max-width: 100%;
    min-height: 130px;
    font-weight: 400
}

.slides-form textarea.d {
    border-radius: 15px !important
}

.slides-form .label,
.slides-form label {
    display: block;
    font-size: 14px;
    margin-top: 12px;
    margin-bottom: 2px
}

.slides-form .label.uppercase,
.slides-form label.uppercase {
    font-size: 14px
}

.slides-form input[type=tel],
.slides-form input[type=number],
.slides-form input[type=text],
.slides-form input[type=name],
.slides-form input[type=email],
.slides-form input[type=password],
.slides-form select,
.slides-form textarea {
    font-family: inherit;
    position: relative;
    background: #fff;
    padding: 15px 16px 16px;
    border: none;
    font-size: 16px;
    color: #242424;
    outline: 0;
    border-radius: 4px;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid rgba(0, 0, 0, .1);
    transition: .15s
}

.slides-form input[type=tel].flat,
.slides-form input[type=tel]:focus,
.slides-form input[type=tel]:hover,
.slides-form input[type=number].flat,
.slides-form input[type=number]:focus,
.slides-form input[type=number]:hover,
.slides-form input[type=text].flat,
.slides-form input[type=text]:focus,
.slides-form input[type=text]:hover,
.slides-form input[type=name].flat,
.slides-form input[type=name]:focus,
.slides-form input[type=name]:hover,
.slides-form input[type=email].flat,
.slides-form input[type=email]:focus,
.slides-form input[type=email]:hover,
.slides-form input[type=password].flat,
.slides-form input[type=password]:focus,
.slides-form input[type=password]:hover,
.slides-form select.flat,
.slides-form select:focus,
.slides-form select:hover,
.slides-form textarea.flat,
.slides-form textarea:focus,
.slides-form textarea:hover {
    border-color: rgba(0, 0, 0, .2)
}

.slides-form input[type=tel]:focus,
.slides-form input[type=number]:focus,
.slides-form input[type=text]:focus,
.slides-form input[type=name]:focus,
.slides-form input[type=email]:focus,
.slides-form input[type=password]:focus,
.slides-form select:focus,
.slides-form textarea:focus {
    border-color: #2196F3;
    z-index: 10
}

.slides-form input[type=tel]:focus::-webkit-input-placeholder,
.slides-form input[type=number]:focus::-webkit-input-placeholder,
.slides-form input[type=text]:focus::-webkit-input-placeholder,
.slides-form input[type=name]:focus::-webkit-input-placeholder,
.slides-form input[type=email]:focus::-webkit-input-placeholder,
.slides-form input[type=password]:focus::-webkit-input-placeholder,
.slides-form select:focus::-webkit-input-placeholder,
.slides-form textarea:focus::-webkit-input-placeholder {
    color: #242424;
    font-weight: 400;
    opacity: 0
}

.slides-form input[type=tel]:focus:-moz-placeholder,
.slides-form input[type=number]:focus:-moz-placeholder,
.slides-form input[type=text]:focus:-moz-placeholder,
.slides-form input[type=name]:focus:-moz-placeholder,
.slides-form input[type=email]:focus:-moz-placeholder,
.slides-form input[type=password]:focus:-moz-placeholder,
.slides-form select:focus:-moz-placeholder,
.slides-form textarea:focus:-moz-placeholder {
    color: #242424;
    font-weight: 400;
    opacity: 0
}

.slides-form input[type=tel]:focus::-moz-placeholder,
.slides-form input[type=number]:focus::-moz-placeholder,
.slides-form input[type=text]:focus::-moz-placeholder,
.slides-form input[type=name]:focus::-moz-placeholder,
.slides-form input[type=email]:focus::-moz-placeholder,
.slides-form input[type=password]:focus::-moz-placeholder,
.slides-form select:focus::-moz-placeholder,
.slides-form textarea:focus::-moz-placeholder {
    color: #242424;
    font-weight: 400;
    opacity: 0
}

.slides-form input[type=tel]:focus:-ms-input-placeholder,
.slides-form input[type=number]:focus:-ms-input-placeholder,
.slides-form input[type=text]:focus:-ms-input-placeholder,
.slides-form input[type=name]:focus:-ms-input-placeholder,
.slides-form input[type=email]:focus:-ms-input-placeholder,
.slides-form input[type=password]:focus:-ms-input-placeholder,
.slides-form select:focus:-ms-input-placeholder,
.slides-form textarea:focus:-ms-input-placeholder {
    color: #242424;
    font-weight: 400;
    opacity: 0
}

.slides-form input[type=tel].round,
.slides-form input[type=number].round,
.slides-form input[type=text].round,
.slides-form input[type=name].round,
.slides-form input[type=email].round,
.slides-form input[type=password].round,
.slides-form select.round,
.slides-form textarea.round {
    border-radius: 50px;
    padding-left: 22px;
    padding-right: 22px
}

.slides-form input[type=tel].rounded,
.slides-form input[type=number].rounded,
.slides-form input[type=text].rounded,
.slides-form input[type=name].rounded,
.slides-form input[type=email].rounded,
.slides-form input[type=password].rounded,
.slides-form select.rounded,
.slides-form textarea.rounded {
    border-radius: 6px
}

.slides-form input[type=tel]:after,
.slides-form input[type=number]:after,
.slides-form input[type=text]:after,
.slides-form input[type=name]:after,
.slides-form input[type=email]:after,
.slides-form input[type=password]:after,
.slides-form select:after,
.slides-form textarea:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff
}

@media (min-width:768px) {

    .slides-form input[type=tel],
    .slides-form input[type=number],
    .slides-form input[type=text],
    .slides-form input[type=name],
    .slides-form input[type=email],
    .slides-form input[type=password],
    .slides-form select,
    .slides-form textarea {
        max-width: 300px
    }
}

.slides-form input[type=tel]::-webkit-input-placeholder,
.slides-form input[type=number]::-webkit-input-placeholder,
.slides-form input[type=text]::-webkit-input-placeholder,
.slides-form input[type=name]::-webkit-input-placeholder,
.slides-form input[type=email]::-webkit-input-placeholder,
.slides-form input[type=password]::-webkit-input-placeholder,
.slides-form select::-webkit-input-placeholder,
.slides-form textarea::-webkit-input-placeholder {
    color: #242424;
    font-weight: 400;
    opacity: .5
}

.slides-form input[type=tel]:-moz-placeholder,
.slides-form input[type=number]:-moz-placeholder,
.slides-form input[type=text]:-moz-placeholder,
.slides-form input[type=name]:-moz-placeholder,
.slides-form input[type=email]:-moz-placeholder,
.slides-form input[type=password]:-moz-placeholder,
.slides-form select:-moz-placeholder,
.slides-form textarea:-moz-placeholder {
    color: #242424;
    font-weight: 400;
    opacity: .5
}

.slides-form input[type=tel]::-moz-placeholder,
.slides-form input[type=number]::-moz-placeholder,
.slides-form input[type=text]::-moz-placeholder,
.slides-form input[type=name]::-moz-placeholder,
.slides-form input[type=email]::-moz-placeholder,
.slides-form input[type=password]::-moz-placeholder,
.slides-form select::-moz-placeholder,
.slides-form textarea::-moz-placeholder {
    color: #242424;
    font-weight: 400;
    opacity: .5
}

.slides-form input[type=tel]:-ms-input-placeholder,
.slides-form input[type=number]:-ms-input-placeholder,
.slides-form input[type=text]:-ms-input-placeholder,
.slides-form input[type=name]:-ms-input-placeholder,
.slides-form input[type=email]:-ms-input-placeholder,
.slides-form input[type=password]:-ms-input-placeholder,
.slides-form select:-ms-input-placeholder,
.slides-form textarea:-ms-input-placeholder {
    color: #242424;
    font-weight: 400;
    opacity: .5
}

.slides-form textarea.round {
    border-radius: 25px
}

.slides-form select {
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="37" height="7"><path fill="#303030" d="M14.022 0l5.978 6 6-6z" /></svg>');
    background-repeat: no-repeat;
    background-position: right;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

.slides-form button[type=submit],
.slides-form input[type=tel],
.slides-form input[type=number],
.slides-form input[type=submit],
.slides-form input[type=text],
.slides-form input[type=name],
.slides-form input[type=email],
.slides-form input[type=password],
.slides-form select,
.slides-form textarea {
    margin: 5px
}

@media (max-width:768px) {

    .slides-form button[type=submit],
    .slides-form input[type=tel],
    .slides-form input[type=number],
    .slides-form input[type=submit],
    .slides-form input[type=text],
    .slides-form input[type=name],
    .slides-form input[type=email],
    .slides-form input[type=password],
    .slides-form select,
    .slides-form textarea {
        margin-left: auto !important;
        margin-right: auto !important;
        width: 100%;
        display: block !important
    }
}

.slides-form button[type=submit].wide,
.slides-form input[type=tel].wide,
.slides-form input[type=number].wide,
.slides-form input[type=submit].wide,
.slides-form input[type=text].wide,
.slides-form input[type=name].wide,
.slides-form input[type=email].wide,
.slides-form input[type=password].wide,
.slides-form label.wide,
.slides-form select.wide,
.slides-form textarea.wide {
    max-width: 100%;
    width: 100%;
    margin-left: 0 !important;
    margin-right: 0 !important
}

@media (min-width:769px) {
    .slides-form input.pair {
        width: 50% !important;
        max-width: 50% !important;
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
        margin-left: 0;
        margin-right: 0
    }

    .slides-form input.pair+.pair {
        width: calc(50% + 1px) !important;
        max-width: calc(50% + 1px) !important;
        margin-left: -1px;
        border-radius: 0 4px 4px 0 !important
    }
}

.container,
.content,
.popup:not(.youtube) .background iframe,
.slide,
.slide:not(.youtube) .background iframe {
    width: 100%;
    height: 100%
}

.slide {
    position: fixed;
    background: #202020;
    color: #fff;
    z-index: 10
}

.slide.active {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    backface-visibility: hidden
}

.mobile .slide {
    visibility: hidden
}

.mobile .slide.active {
    visibility: visible
}

.slide.whiteSlide {
    color: #202020;
    background: #fff
}

.content {
    position: absolute;
    backface-visibility: hidden;
    top: 0;
    left: 0;
    z-index: 100;
    -webkit-overflow-scrolling: touch
}

.content.scrollBar {
    overflow-y: auto
}

.windows .defaultScroll .content {
    overflow: auto;
    overflow-x: hidden
}

.mobile .content {
    overflow: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch
}

.container .wrap .overflowHidden,
.pad,
.slide.video .background,
.videoThumbnail {
    overflow: hidden
}

.fade .content {
    background: rgba(0, 0, 0, .6)
}

.dropdown.share li:after,
.fade-1 .content {
    background: rgba(0, 0, 0, .1)
}

.fade-2 .content {
    background: rgba(0, 0, 0, .2)
}

.fade-3 .content {
    background: rgba(0, 0, 0, .3)
}

.fade-4 .content {
    background: rgba(0, 0, 0, .4)
}

.fade-5 .content {
    background: rgba(0, 0, 0, .5)
}

.fade-6 .content {
    background: rgba(0, 0, 0, .6)
}

.fade-7 .content {
    background: rgba(0, 0, 0, .7)
}

.fade-8 .content {
    background: rgba(0, 0, 0, .8)
}

.fade-9 .content {
    background: rgba(0, 0, 0, .9)
}

.whiteSlide[class*=fade] .content {
    background: rgba(255, 255, 255, .85)
}

.container {
    display: table;
    table-layout: fixed;
    position: relative
}

.container .wrap {
    display: table-cell;
    vertical-align: middle;
    overflow: hidden
}

.container .wrap .spaceWrap,
.container .wrap.spaceWrap,
.container .wrap:not(.noSpaces) {
    padding: 120px calc(8% + 15px)
}

.container .wrap * {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text
}

.popup .background,
.slide .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.popup .background iframe,
.slide .background iframe {
    border: 0;
    position: absolute;
    top: 0;
    left: 0
}

.pad,
.videoThumbnail.rounded {
    border-radius: 6px
}

.fix-1-12 {
    max-width: 93px !important
}

.fix-2-12 {
    max-width: 186px !important
}

.fix-3-12 {
    max-width: 279px !important
}

.fix-4-12 {
    max-width: 371px !important
}

.fix-5-12 {
    max-width: 464px !important
}

.fix-6-12 {
    max-width: 557px !important
}

.fix-7-12 {
    max-width: 650px !important
}

.fix-8-12 {
    max-width: 743px !important
}

.fix-9-12 {
    max-width: 836px !important
}

.fix-10-12 {
    max-width: 928px !important
}

.fix-11-12 {
    max-width: 1021px !important
}

.fix-12-12 {
    max-width: 1114px !important
}

[class*=fix-] {
    width: 100% !important;
    margin-left: auto !important;
    margin-right: auto !important;
    float: none
}

.toLeft,
.toLeft[class*=fix-] {
    margin-left: 0 !important;
    margin-right: auto !important
}

.toRight,
.toRight[class*=fix-] {
    margin-right: 0 !important;
    margin-left: auto !important;
    float: right
}

.toCenter {
    margin-left: auto !important;
    margin-right: auto !important
}

.shiftImage {
    margin-top: -15%;
    margin-bottom: -100%
}

.shiftImageVertical {
    margin-right: -100%;
    max-width: none
}

.slide.video .background video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover
}

.slide.video .background video::-webkit-media-controls {
    display: none !important
}

.slide.video .background video::-webkit-media-controls-panel {
    display: none !important;
    -webkit-appearance: none
}

.slide.video .background video::-webkit-media-controls-start-playback-button {
    display: none !important;
    -webkit-appearance: none
}

html:not(.mobile) .slide.video .background[style] {
    background: 0 0 !important
}

.mobile .slide.video .background[style] video {
    display: none
}

.videoThumbnail {
    position: relative;
    font-size: 0;
    line-height: 0
}

.videoThumbnail:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url(../assets/svg/video-icon.svg) center center no-repeat;
    transition: .5s
}

.videoThumbnail:not(.noTint):hover:after {
    background-color: rgba(0, 0, 0, .15)
}

.videoThumbnail:hover:before {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: .25s
}

.videoThumbnail:active:before {
    opacity: .8
}

.videoThumbnail.small {
    max-width: 200px;
    display: block
}

.videoThumbnail.small:before {
    background-size: 44px
}

.button.empty.shadow:hover,
.shadow {
    box-shadow: 0 10px 40px rgba(0, 0, 0, .2)
}

.pad {
    padding: 10%;
    color: #202020;
    background: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .1), 0 2px 4px rgba(0, 0, 0, .1)
}

.pad.shadow,
.pad.shadowHover:hover {
    box-shadow: 0 10px 40px rgba(0, 0, 0, .2)
}

.pad.shadow.stroke {
    background: 0 0;
    transition: .15s;
    color: #fff
}

.pad.shadow.stroke:hover {
    background: #fff;
    color: #202020;
    transition: .15s
}

.pad.shadowHover {
    transition: .5s
}

.pad small {
    font-size: 15px;
    line-height: 1.45;
    margin: 15px 0
}

.resizing .equalElement {
    transition: 0s !important
}

.hr {
    position: relative;
    height: 1px;
    width: 100%
}

@media (max-width:1023px) {
    .shiftImage {
        margin-top: 0 !important;
        margin-bottom: 0 !important
    }

    .shiftImageVertical {
        margin-right: 0 !important;
        max-width: 100% !important
    }
}

@media (min-width:1024px) {
    .hideForDesktop {
        display: none !important
    }

    .showForDesktop {
        display: block !important
    }
}

@media (max-width:1024px) {
    .hideForTablet {
        display: none !important
    }

    .showForTablet {
        display: block !important
    }

    .showForTabletInline {
        display: inline !important
    }
}

@media (max-width:767px) {

    .pad.collapse,
    .pad.shadow {
        box-shadow: none
    }

    .pad.collapse {
        background: inherit;
        color: inherit;
        border: none;
        padding: 0 !important;
        overflow: inherit;
        border-radius: 0;
        transition: 0s !important
    }

    .hideForPhablet {
        display: none !important
    }
}

@media (max-width:768px) {
    .showForPhablet {
        display: block !important;
    }

    .showForPhabletInline {
        display: inline !important;
    }
}

@media (max-width:435px) {
    .hideForPhone {
        display: none !important;
    }

    .showForPhone {
        display: block !important;
    }

    .showForPhoneInline {
        display: inline !important;
    }
}

html.mobile .hideForMobile {
    display: none !important
}

html.mobile .showForMobile {
    display: block !important
}

html.mobile .showForMobileInline {
    display: inline !important
}

.helpBubble:after {
    content: "?";
    font-size: 14px;
    width: 17px;
    height: 17px;
    line-height: 1.2;
    background: #202020;
    opacity: .3;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    margin-left: 4px;
    font-weight: 700;
    transition: .25s
}

.helpBubble .helpMessage {
    background: rgba(255, 255, 255, .98);
    color: #202020;
    font-size: 16px;
    line-height: 1.625;
    position: absolute;
    z-index: 10;
    box-shadow: 0 1px 8px rgba(0, 0, 0, .07), 0 6px 8px rgba(0, 0, 0, .05);
    padding: 17px;
    text-align: left;
    bottom: 50%;
    margin-bottom: 5px;
    -webkit-transform: translateY(10px) scale(.95);
    transform: translateY(10px) scale(.95);
    transition: .25s;
    opacity: 0;
    pointer-events: none;
    color: rgba(48, 48, 48, .7)
}

.mobile .simplifiedMobile .panel.hideOnScroll,
.panel,
.scroll .panel.hideOnScroll {
    position: fixed
}

.panel.black,
.panel.white {
    box-shadow: 0 1px 1px rgba(0, 0, 0, .07)
}

.panel.bottom,
.side {
    bottom: 0
}

.helpBubble .helpMessage strong {
    color: #303030
}

.helpBubble:hover .helpMessage {
    pointer-events: all;
    -webkit-transform: translateY(0) scale(1);
    transform: translateY(0) scale(1);
    opacity: 1
}

.helpBubble:hover:after {
    opacity: 1
}

.panel {
    left: 0;
    width: 100%;
    padding: 10px 30px;
    z-index: 200;
    text-align: center;
    font-size: 16px;
    pointer-events: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.panel.top {
    top: 0
}

.panel.white {
    background: rgba(255, 255, 255, .975) !important
}

.panel.black {
    background-color: rgba(0, 0, 0, .8) !important
}

.animateOnEvent .panel.top,
.animated .panel.top,
.hidePanel-top .panel.top.hideOnScroll,
.slides.firstSlide .panel.top.exceptFirstSlide,
.slides.lastSlide .panel.top.exceptLastSlide,
.slides:not(.firstSlide) .panel.top.firstSlideOnly,
.slides:not(.firstSlide):not(.lastSlide) .panel.top.firstAndLastSlidesOnly,
.slides:not(.lastSlide) .panel.top.lastSlideOnly {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    opacity: 0
}

.animateOnEvent .panel.bottom,
.animated .panel.bottom,
.hidePanel-bottom .panel.bottom.hideOnScroll,
.slides.firstSlide .panel.bottom.exceptFirstSlide,
.slides.lastSlide .panel.bottom.exceptLastSlide,
.slides:not(.firstSlide) .panel.bottom.firstSlideOnly,
.slides:not(.firstSlide):not(.lastSlide) .panel.bottom.firstAndLastSlidesOnly,
.slides:not(.lastSlide) .panel.bottom.lastSlideOnly {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    opacity: 0
}

.page-loaded .animateOnEvent .panel,
.page-loaded .animated .panel {
    transition: opacity .5s, padding .5s, -webkit-transform .5s;
    transition: transform .5s, opacity .5s, padding .5s;
    transition: transform .5s, opacity .5s, padding .5s, -webkit-transform .5s;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1
}

.slides.whiteSlide .panel {
    color: #202020
}

.mobile .simplifiedMobile .panel.hideOnScroll.top.hide,
.scroll .panel.hideOnScroll.top.hide {
    -webkit-transform: translateY(-100%) !important;
    transform: translateY(-100%) !important;
    opacity: 0
}

.mobile .simplifiedMobile .panel.hideOnScroll.bottom.hide,
.scroll .panel.hideOnScroll.bottom.hide {
    -webkit-transform: translateY(100%) !important;
    transform: translateY(100%) !important;
    opacity: 0
}

.panel .sections {
    display: table;
    width: 100%;
    font-size: 0
}

.panel .sections>div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 33.33333%;
    font-size: 16px;
    height: 50px;
}

.panel .sections>div.auto {
    width: .1%;
}

.panel .sections>div * {
    pointer-events: all;
}

.panel .sections>div.left {
    text-align: left;
}

.panel .sections>div.left ul.crop {
    padding-left: 0;
}

.panel .sections>div.left ul.crop li:first-child {
    margin-left: 0
}

.panel .sections>div.left.space {
    padding-right: 20px
}

.panel .sections>div.right {
    text-align: right
}

.panel .sections>div.right ul.crop {
    padding-right: 0
}

.panel .sections>div.right.space {
    padding-left: 20px
}

.panel .sections>div.center.space {
    padding: 0 20px
}

.panel .sections.hidden {
    display: none
}

.panel .sections .menu {
    display: inline-block;
    padding: 0 12px;
    font-size: 0
}

.panel .sections .menu svg {
    width: 20px;
    height: 20px;
    vertical-align: bottom
}

.panel .sections .menu li {
    font-size: 16px;
    font-weight: 400;
    display: inline-block;
    margin: 0 10px
}



.panel .sections .menu li a {
    padding: 0 7px;
    opacity: .8
}

.panel .sections .menu li a:hover {
    opacity: 1
}

.panel .sections .menu.uppercase li {
    font-size: 12px;
    margin: 0 10px;
    letter-spacing: .125em;
    font-weight: 600 !important
}

.panel .sections .menu.uppercase li svg {
    position: relative;
    top: 2px
}





.panel a:not(.button):hover {
    opacity: .75;
    transition: .15s
}


.panel .button+.button {
    margin-left: 10px
}
