<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="nofile.css">
    <title>Upload files</title>
</head>
<body>
        <div class="card-body">
            <h1 class="card-title">No file selected</h1>
            <p class="card-text">👇 Click the link below to go back to the homepage</p>
            <a href="http://127.0.0.1:5500/Trashminator/index.html">Back to home</a>
        </div>
</body>
</html>